<%= form_for @project do |f| %>
<%= render "shared/error_messages", :target => @project %>
  <p>

    <%= f.text_field :name, :placeholder => "Project name", required: :true %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>