<h1>My TODO Lists</h1> <div>
 <a href=<%= new_project_path %>>
  <button>Add TODO List</button>
 </a>
</div>
<% @projects.each do |project| %>
    <h2> <%= link_to project.name, action: :show, id: project.id %></h2>

<% end %>




